@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80');
    background-position: center;
    background-size: cover;
    font-family: "Jost", sans-serif;
}

.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 370px;
    max-height: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.about-page{
    min-width: 350px;
    max-height: 1000px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-photo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 33.3%;
    width: 100%;
}

.about-photo-section::before {
    content: ' ';
    position: absolute;
    left: -50px;
    top: -35px;
    height: 90%;
    width: 50%;
    border-radius: 66% 94% 15% 85% / 50% 62% 38% 50%;
    background-color: rgb(0, 225, 255);
    filter: blur(50px);
  }

.about-photo-section::after{
    content: ' ';
    position: absolute;
    top: -20px;
    left: 210px;
    height: 90%;
    width: 50%;
    border-radius: 74% 26% 33% 67% / 82% 7% 93% 18% ;
    background-color: chartreuse;
    filter: blur(50px);
}

.about-photo-people{
    background-image: url('https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-general-information{
    margin: 0 auto;
    height: 170px;
    width: 300px;
}

.title-name{
    display: flex;
    justify-content: center;
    color: #2b2c48;
    font-size: 14px;
}

.job-title{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #67697d;
    margin-bottom: 30px;
}

.title-about-inform{
    font-size: 10px;
    color: #2b2c48;
    margin-bottom: 10px;
}

.text-about-inform{
    color: #67697d;
    font-size: 14px;
    margin-bottom: 15px;
}

.about-general-link{
    display: flex;
    gap: 15px;
}

.facebook,
.twitter,
.pinterest{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f7f9fc;
    margin-bottom: 100px;
    cursor: pointer;
}

.facebook::before{
    content: ' ';
    position: absolute;
    background-image: url(./facebook_icon-icons.com_59205.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.twitter::before{
    content: ' ';
    position: absolute;
    background-image: url(./TWITTER_icon-icons.com_65536.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.pinterest::before{
    content: ' ';
    position: absolute;
    background-image: url(./PINTEREST_icon-icons.com_65539.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.facebook:hover::before,
.twitter:hover::before,
.pinterest:hover::before{
    filter: grayscale(200%) brightness(90%);
}

.switch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 50px;
    margin: 0 auto;
}

.switch-about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 116px;
    height: 50px;
    text-align: center;
    box-shadow: inset -10px -10px 30px rgb(138, 132, 255);
    
}

.switch-about::before{
    content: '';
    position: absolute;
    border: 2px solid rgb(138, 132, 255);
    width: 112px;
    top: 47px;  
}

.switch-about-nonActive{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 116px;
    height: 50px;
    text-align: center;
    transition: all 0.3s;
}

.switch-about-nonActive:hover::before{
    content: '';
    position: absolute;
    border: 2px solid #8a84ff;
    width: 112px;
    top: 47px;
}

.switch-about-nonActive:hover{
    box-shadow: inset -10px -10px 30px rgb(138, 132, 255);
}

.switch-experience{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 33.3%;
    height: 50px;
    text-align: center;
    transition: all 0.3s;
}

.switch-experience:hover::before{
    content: '';
    position: absolute;
    border: 2px solid #8a84ff;
    width: 113px;
    top: 47px;
}

.switch-experience:hover{
    background-color: rgba(138, 132, 255, 0.8);
}

.switch-experience-click{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 33.3%;
    height: 50px;
    text-align: center;
    background-color: rgba(138, 132, 255, 0.8);
}

.switch-experience-click::before{
    content: '';
    position: absolute;
    border: 2px solid #8a84ff;
    width: 113px;
    top: 47px;
}

.switch-contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 33.3%;
    height: 50px;
    text-align: center;
    transition: all 0.3s;
}

.switch-contact:hover::before{
    content: '';
    position: absolute;
    border: 2px solid #8a84ff;
    width: 112px;
    top: 47px;
}

.switch-contact:hover{
    box-shadow: inset 10px -10px 30px rgb(138, 132, 255);
}

.switch-contact-click{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 33.3%;
    height: 50px;
    text-align: center;
    
    box-shadow: inset 10px -10px 30px rgb(138, 132, 255);
}

.switch-contact-click::before{
    position: absolute;
    content: '';
    border: 2px solid #8a84ff;
    height: 0px;
    width: 112px;
    top: 47px;
}

/*Page Experience*/
.page-experience{
    margin: 0 auto;
    min-height: 200px;
    width: 300px;
}



/*Page Contact*/

.page-contact{
    margin: 0 auto;
    min-height: 200px;
    width: 300px;
}

.title-cotact-inform{
    color: #2b2c48;
    font-size: 14px;
    margin-bottom: 15px;
}

.location-contact-info,
.conatact-phone,
.contact-email{
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact-location-img{
    background-image: url(./images/free-icon-gps-4120429.png);
    filter: brightness(50);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.border,
.border-phone,
.border-email
{
    height: 35px;
    width: 2px;
    border: 1px solid #dfe2ec;
}

.contact-location-adress,
.contact-phone-number,
.contact-email-mail{
    color: #6f6f7b;
    font-size: 14px;
}

.contact-phone-img{
    background-image: url(./images/phone-call.png);
    filter: brightness(50);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding-left: 27px;
}

.contact-email-img{
    background-image: url(./images/mail.png);
    filter: brightness(50);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding-left: 27px;
}

.contact-button-block{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.contact-button{
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 700;
    color: white;
    background: linear-gradient(
    to right,
    rgba(83, 250, 239, 0.8) 0%,
    rgba(81, 106, 204, 0.8) 96%
    );
    cursor: pointer;
}

