@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80');
    background-position: center;
    background-size: cover;
    font-family: "Jost", sans-serif;
}

.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 370px;
    max-height: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.about-page{
    min-width: 350px;
    max-height: 1000px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-photo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 33.3%;
    width: 100%;
}

.about-photo-section::before {
    content: ' ';
    position: absolute;
    left: -50px;
    top: -35px;
    height: 90%;
    width: 50%;
    border-radius: 66% 94% 15% 85% / 50% 62% 38% 50%;
    background-color: rgb(0, 225, 255);
    filter: blur(50px);
  }

.about-photo-section::after{
    content: ' ';
    position: absolute;
    top: -20px;
    left: 210px;
    height: 90%;
    width: 50%;
    border-radius: 74% 26% 33% 67% / 82% 7% 93% 18% ;
    background-color: chartreuse;
    filter: blur(50px);
}

.about-photo-people{
    background-image: url('https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-general-information{
    margin: 0 auto;
    min-height: 200px;
    width: 300px;
}

.title-name{
    display: flex;
    justify-content: center;
    color: #2b2c48;
    font-size: 14px;
}

.job-title{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #67697d;
    margin-bottom: 40px;
}

.title-about-inform{
    font-size: 10px;
    color: #2b2c48;
    margin-bottom: 10px;
}

.text-about-inform{
    color: #67697d;
    font-size: 14px;
    margin-bottom: 15px;
}

.about-general-link{
    display: flex;
    gap: 15px;
}

.facebook,
.twitter,
.pinterest{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f7f9fc;
    margin-bottom: 100px;
    cursor: pointer;
}

.facebook::before{
    content: ' ';
    position: absolute;
    background-image: url(./facebook_icon-icons.com_59205.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.twitter::before{
    content: ' ';
    position: absolute;
    background-image: url(./TWITTER_icon-icons.com_65536.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.pinterest::before{
    content: ' ';
    position: absolute;
    background-image: url(./PINTEREST_icon-icons.com_65539.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.facebook:hover::before,
.twitter:hover::before,
.pinterest:hover::before{
    filter: grayscale(200%) brightness(90%);
}

.switch{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin: 0 auto;
}

.switch-about{
    margin: 0 auto;
}

.switch-about:hover{
    box-shadow: inset 10px 10px 10px purple;
    cursor: pointer;
}

.switch-experience{
    margin: 0 auto;
    cursor: pointer;
}

.switch-contact{
    margin: 0 auto;
    cursor: pointer;
}

.{
}
